@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
}
body,html{
	width: 100%;
	height: 100%;
}
body{
	background-color: #fafafa;
	font-family: 'Trebuchet MS',Helvetica;
}

header{
	width: 100%;
	padding: 20px 0.5% 0px 0.5%;
	background: transparent;
	float: left;
	position: fixed;
}
header #logo{
	color: #fff;
	cursor: pointer;
}
header #logo span{
	font-size: 1.7em;
	line-height: 45px;
	margin-left: 40px;
	font-family: 'PT Sans Narrow', sans-serif;
}
@media (min-width: 700px){
	#logo{
		float: left;
		width: 30%;
		font-size: 1.8em;
	}
	#about{
		float: right;
		width: 67%;
	}
}
@media (max-width: 700px){
	#logo{
		margin-top: 15px;
		width: 100%;
		font-size: 1.7em;
	}
	#about{
		float: left;
		width: 100%;
	}
}
#about{
	text-align: center;
	font-size: 1em;
	line-height: 40px;
	margin-bottom: 10px;
}
#about > a{
	color: white;
	
}

#about > a:hover{
	color: #b0b0b0;
}
#about >a:not(:last-child){
	margin-right: 7%;
}
.fixed{
	z-index: 5000;
	background-color: #fff;
	border-bottom: 1px solid silver;
}
header.fixed #logo{
	color: #343434;
}
.fixed #about a{
	color: #343434;
}
.fixed #about a:hover{
	color: #7c7c7c;
}
/* Гл. блок на сайте */

#top{
	width: 100%;
	height: 1000px;
	background-image: url('https://cdn.motor1.com/images/mgl/BozwA/s1/lada-vesta-cvt.jpg');
	background-blend-mode: multiply;
	background-color: #4b5a66;
	background-size: cover;
	text-align: center;
	color: #fff;
	font-size: 3em;
}
@media (min-width: 1101px){
	#top{
		font-size: 3em;
	}
}
@media (max-width: 100px) and (min-width: 651px){
	#top{
		font-size: 2em;
	}
}
@media (max-width: 650px){
	#top{
		font-size: 1.3em;
		padding-top: 50%;
	}
}
@media (max-width: 700px){
	#top{
		font-size: 1.3em;
		padding-top: 50%;
	}
}
#top h1{
	padding-top: 20%;
}
#top h3{
	color: #fff;
}

#main {
	float: left;
	background-color: #f6f6f6;
	border-top: 2px solid silver;
	color: #484848;
	font-size: 1.3em;
}
  
  @media (min-width: 1401px) {
	#main {
	  padding: 100px 20%;
	  width: 60%;
	}
}
  
  @media (max-width: 1400px) {
	#main {
	  padding: 100px 10%;
	  width: 80%;
	}
}
  
  @media (max-width: 700px) {
	#main div {
	  width: 98%!important;
	  margin-bottom: 20px;
}
}
  
#main div {
	width: 48%;
	margin-right: 2%;
	float: left;
}
  
#main h2 {
	font-size: 3em
}
#main span {
	color: #a0a0a0
}
#overview{
	float: left;
	background-image: url('https://s00.yaplakal.com/pics/pics_original/4/9/2/11786294.jpg');
	background-blend-mode: multiply;
	background-color: #01405e;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
	width: 100%;
	text-align: center;
	color: #fff;
}
#overview h2 {
	font-size: 4em
}
#overview h4 {
	color: #ccc;
	font-size: 1.9em;
}
#overview img{
	width: 600px;
	border-radius: 10px;
	background: #fafafa;
	padding: 3px;
	border: 2px solid silver;
	width: 100%;
	min-width: 635px;
}
#overview .img{
	float: left;
	width: 30%;
	margin-right: 15%;
	margin-top: 7%;
	
}
#overview .img:nth-child(odd){
	margin-left: 7%;
}
#overview span{
	font-size: 1.5em;
}
#overview span{
	float: left;
	width: 100%;
	font-size: 2em;
	margin-top: 10px;
	margin-left: 5%;
}
@media (max-width: 700px) {
	#overview .img {
			
	  width: 400px!important;
	  margin-right: 0!important;
	  margin-left: 2px!important;
}
}
